@font-face {
    font-family: "Flexi";
    src: url(Flexi_IBM_VGA_False.ttf);
}

body {
    font-family: "Flexi";
    margin-top: 32px;
    margin-left: 32px;
    background: url(./media/stars.gif);
    background-repeat: repeat;
    background-size: 200px;
    background-color: #111;
    color: rgb(255, 79, 132);
    overflow-x: hidden;
    cursor: url(./media/cursor1.png), auto;

}

a {
    color: rgb(162, 0, 255);
}

a:hover{
    color: rgb(237, 147, 255);
    cursor: url(./media/cursor2.png), auto;
}

ul {
    padding: 8px;
    list-style-type: '- ';
    width: 360px;
}

li {
    margin-bottom: 8px;
}

li::marker {
    color:rgb(255, 79, 132);
  }

.rightSideBar{
    z-index: 1;
    float: right;
    height: 100%;
    width: 360px;
    background-color: #aaaaaa00;
    margin-right: 16px;
}

hr{
    color: rgb(255, 79, 132);
}

.navbar{
    font-size: 14px;
    padding: 4px;
    border: rgb(255, 79, 132) 1px solid;
    display: flex;
    justify-content: space-evenly;
    width: 420px;
}

div.blog {
    margin-top : 8px;
    padding: 4px;
    border: yellow 1px solid;
    width: 420px;
}


.listInlist {
    margin-left: 24px ;
}

ul.listInlist {
    padding: 8px;
    list-style-type: '+ ';
    width: 360px;
}


strong {
    color: blanchedalmond;
    font-family: monospace;
}