* {
   color: yellow;
   cursor: pointer;
   font-family: sans-serif;
 }

 body {
   margin-top: 5vh;
   display: flex;
   justify-content:center;
   text-align: center;
   background-color: darkblue;
   width: 100%;
   height: 100vh;
   overflow:hidden;

 }

.container {
  width: 640px;
  /*border: green solid 2px;*/
}

 a {
   display: flex;
   border-radius: 10px;
   background: gray;
   border: black solid 2px ;
   color: yellowgreen;
   text-decoration: none;
   background: linear-gradient(0deg,rgba(55, 55, 55, 1) 0%, rgba(20, 20, 20, 1) 50%, rgba(55, 55, 55, 1) 100%);
   width: 90px;
   height: 40px;
   align-items: center;
   justify-content: center;
 }

 a:hover {
   color: darkkhaki;
 }

 .navbar {
   display: flex;
   border: white solid 1px;
   align-items: center;
   justify-content: center;
   gap: 8px;
   height: 64px;
   padding: 10px;
 }
 .content {
   border: green solid 1px;
   height:70vh;
   padding:10px;
 }
