@font-face {
    font-family: "Flexi";
    src: url(/fonts/Flexi_IBM_VGA_False.ttf);
}

body {
    font-family: "Flexi";
    margin-top: 32px;
    margin-left: 32px;
    background: url(./media/stars.gif);
    background-repeat: repeat;
    background-size: 200px;
    background-color: #111;
    color: yellow;
    overflow-x: hidden;
}

a {
    color: violet;
    transition: 0.2s;
}

a:hover{
    color: blueviolet;
}

ul {
    padding: 8px;
    list-style-type: '- ';
    width: 360px;
}

li {
    margin-bottom: 8px;
}

li::marker {
    color:yellow;
  }

.rightSideBar{
    z-index: 1;
    float: right;
    height: 100%;
    width: 360px;
    background-color: #aaaaaa00;
}

hr{
    color: yellow;
}

.navbar{
    font-size: 14px;
    padding: 4px;
    border: yellow 1px solid;
    display: flex;
    justify-content: space-evenly;
    width: 420px;
}

div.blog {
    margin-top : 8px;
    padding: 4px;
    border: yellow 1px solid;
    width: 420px;
}